{% extends 'base.html.twig' %}

{% block title %} Timeline CV
{% endblock %}

{% block body %}

	<section id="timeline" class="accent-bg-dark px-2 rounded-top-5" style="min-height: 100vh;">
		{% include 'index/IndexHeader.twig' with {'upRef': 'aboutme', 'textRef': 'timeline', 'headText': 'timeline', 'darkbg': true} %}
		<div class=" m-md-4">
			<div class="row m-2">
				<div class="col-12 col-md mt-2">
					<h6>Filter by Year:</h6>
					<div class="btn-group" role="group" aria-label="Year buttons">
						{% set years = [] %}
						{% for event in timeline_events %}
							{% if event.startDate|date('Y') not in years %}
								{% set years = years|merge([event.startDate|date('Y')]) %}
								<button type="button" class="btn btn-primary" onclick="showEvents('{{ event.startDate|date('Y') }}')">{{ event.startDate|date('Y') }}</button>
							{% endif %}
						{% endfor %}
					</div>
				</div>
				<div class="col-12 col-md mt-2">
					<h6>Filter by Tags:</h6>
					{% set all_tags = [] %}
					{% for event in timeline_events %}
						{% for tag in event.tags %}
							{% if tag not in all_tags %}
								{% set all_tags = all_tags|merge([tag]) %}
							{% endif %}
						{% endfor %}
					{% endfor %}
					<div class="row">
						<button type="button" class="col-auto btn btn-success" onclick="selectAllTags(true)">Select All</button>
						<button type="button" class="col-auto btn btn-secondary" onclick="selectAllTags(false)">Deselect All</button>
					</div>
					<div class="row">
						{% for tag in all_tags %}
							<input type="checkbox" class="col-auto btn-check" id="btn-check-outlined-{{ tag }}" name="tags" value="{{ tag }}" checked>
							<label class="col-auto btn btn-outline-primary" for="btn-check-outlined-{{ tag }}">{{ tag }}</label><br>
						{% endfor %}

					</div>
				</div>
			</div>
			<div class="row ">
				{% for year in years %}
					<div class="events-wrapper  mb-5" id="events-{{ year }}" style="display: {{ loop.first ? 'block' : 'none' }};">
						<h4 class="text-center py-2 border border-light">{{ year }}</h4>
						<div class="border border-light" style="overflow-y: auto; overflow-x: hidden; height: 50vh; width: 100%;">
							{% set events_in_year = timeline_events|filter(e => e.startDate|date('Y') == year) %}
							{% for event in events_in_year %}
								<div class="timeline-event border rounded-4 border-light bg-dark mx-auto" data-tags="{{ event.tags|join(',') }}" style="height: 100%;">

									<div class="main-bg row">
										<h6 class="col-12 col-md accent-color m-2">{{ event.name }}</h6>
										<span class="col-12 col-md white-text m-2">{{ event.startDate|date('Y-m') ~ ' - ' ~ event.endDate|date('Y-m') }}</span>
									</div>
									<div class="col-12 list-group" style="overflow-y: auto; overflow-x: hidden; height: auto; ">
										{% for point in event.bulletpoints %}
											<P style="font-size: 14px;" class="list-group-item list-group-item-action bg-dark text-light">{{ point }}</P>
										{% endfor %}
									</div>

									{# Assign tags to the card as a data attribute #}
									<div class="tags" style="display: none;">{{ event.tags|json_encode|raw }}</div>
								</div>
							{% endfor %}
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>


	<script src="{{ asset('js/timeLine.js') }}"></script>

{% endblock %}
