{% extends 'base.html.twig' %}

{% block title %}
	Timeline CV
{% endblock %}

{% block body %}

	<style>

		.timeline:before {
			content: '';
			position: absolute;
			left: 50%;
			top: 0;
			bottom: 0;
			width: 10px;
			background: #ccc;
			transform: translateX(-50%);
		}

		@media(min-width: 768px) {
			.timeline-event:before {
				width: 10px;
			}
		}
	</style>


	<section id="timeline" class="accent-bg-dark px-2 rounded-top-5" style="min-height: 100vh;">
		{% include 'index/IndexHeader.twig' with {'upRef': 'aboutme', 'textRef': 'timeline', 'headText': 'timeline', 'darkbg': true} %}
		<div class=" container-fluid mx-md-4">
			<div class="row m-2 position-sticky">

				<div class="col-12 col-md-8 mt-2">
					{% set all_tags = [] %}
					{% for event in timeline_events %}
						{% for tag in event.tags %}
							{% if tag not in all_tags %}
								{% set all_tags = all_tags|merge([tag]) %}
							{% endif %}
						{% endfor %}
					{% endfor %}
					<div class="row">
						<h6 class="col-auto ">Filter by Tags:</h6>

						<input type="radio" class="btn-check" name="options-outlined" id="success-outlined" autocomplete="off" checked>
						<label class="col-auto btn btn-outline-success" for="success-outlined" onclick="selectAllTags(true)">All</label>

						<input type="radio" class="btn-check" name="options-outlined" id="danger-outlined" autocomplete="off">
						<label class="col-auto btn btn-outline-danger" for="danger-outlined" onclick="selectAllTags(false)">None</label>
					</div>
					<div class="row">
						{% for tag in all_tags %}
							<input type="checkbox" class="col-auto btn-check" id="btn-check-outlined-{{ tag }}" name="tags" value="{{ tag }}" checked>
							<label class="col-auto btn btn-outline-primary" for="btn-check-outlined-{{ tag }}">{{ tag }}</label><br>
						{% endfor %}

					</div>
				</div>
				<div class="col-12 col-md-4 mt-2">
					<h6>Filter by Year:</h6>
					<div class="btn-group" role="group" aria-label="Year buttons">
						{% set years = [] %}
						{% for event in timeline_events %}
							{% if event.startDate|date('Y') not in years %}
								{% set years = years|merge([event.startDate|date('Y')]) %}
								<input type="radio" class="btn-check" name="btnradio" id="btnradio{{loop.index}}" autocomplete="off" {% if loop.index == 1 %} checked {% endif %}>
								<label class="btn btn-outline-primary" for="btnradio{{loop.index}}" onclick="showEvents('{{ event.startDate|date('Y') }}')">{{ event.startDate|date('Y') }}</label>
							{% endif %}
						{% endfor %}
					</div>
				</div>

			</div>

			{% if years is empty %}

				<h3 class="col-6 my-5 accent-bg-dark text-center mx-auto py-3 text-warning border border-warning rounded-3">
					No events available.
				</h3>

			{% endif %}

			{% for year in years %}
				<div class="events-wrapper row " id="events-{{ year }}" style="display: {{ loop.first ? 'block' : 'none' }};">
					{% set events_in_year = timeline_events|filter(e => e.startDate|date('Y') == year) %}

					<h4 class="col-3 text-center mx-auto mt-2 py-3 text-warning border border-warning rounded-3">{{ year }}</h4>

					<div class=" container-fluid " style="min-height: 30vh;">
						{% for event in events_in_year %}
							<div class="col-12 justify-content-center p-4 timeline" data-tags="{{ event.tags|join(',') }}">
								<div class="row">
									<div class="col-12 row d-flex flex-column justify-content-center align-items-center">

										<h5 class="col">{{ event.startDate|date('Y-m') ~ ' - ' ~ event.endDate|date('Y-m') }}</h5>
										<div class=" col card ">
											<div class="card-body row">
												<div class="col-auto text-center">
													<h5 class="card-title">{{ event.name }}</h5>

													<div class="rounded-4 d-flex justify-content-center bg-dark mx-auto shadow-custom" style="overflow: hidden; aspect-ratio: 1; cursor: pointer; max-width: 7rem;">
														<img src="" style="height: 100%; width: auto;" alt="{{ event.name }}">
													</div>
												</div>

												<ul class="col-8 list-group list-group-flush">
													{% for point in event.bulletpoints %}
														<li class="list-group-item">{{ point }}</li>
													{% endfor %}
												</ul>
											</div>
										</div>

									</div>
								</div>
								<div class="tags" style="display: none;">{{ event.tags|json_encode|raw }}</div>
							</div>
						{% endfor %}
						<h6 id="noTimelineEvents" class="col-6 my-5 accent-bg-dark text-center mx-auto py-3 text-secondary border border-secondary rounded-3" style="display: none;">
							No events available.
						</h6>
					</div>

				</div>
			{% endfor %}
		</div>
	</section>


	<script src="{{ asset('js/timeLine.js') }}"></script>

{% endblock %}
