<style>
	#projects {
		;
		/*background-image: url("{{ asset('bg-pixels.svg') }}");
		background-repeat: repeat;
		background-size: auto; /* Adjust as needed, e.g., 'contain', 'cover', or specific sizes */
	}
</style>

<section id="projects" class=" p-lg-5" style="min-height: 100vh;">


	<div class="d-flex flex-column justify-content-center align-items-center" style="min-height: 70vh; width: 100%; opacity:0.9;">

		<div class="container rounded-5 bg-main-gradient  mx-3 my-md-1 p-3 shadow-custom">
			<div class="w-100 d-flex justify-content-center ">
				<div class="bg-accent rounded-4 col-12 col-md-6  py-2 d-flex justify-content-center" href="#{{ textRef }}">
					<div class=" p-0 m-0 stack" style="--stacks: 3;">
						<span class="p-3 text-center" style="--index: 0;">WEB HIGHLIGHTS</span>
						<span class="p-3 text-center" style="--index: 1;">WEB HIGHLIGHTS</span>
						<span class="p-3 text-center" style="--index: 2;">WEB HIGHLIGHTS</span>
					</div>
				</div>
			</div>
			<div class="row justify-content-center">

				{% for project in projects %}

					{% for i in 0..0 %}

						<div class="col-6 col-lg-4 col-xl-3 px-3 py-2  {{ loop.index > 6 ? (loop.index > 10 ? 'd-none d-lg-block' : 'd-none d-md-block') : '' }} ">
							<div class="rounded-4 row justify-content-center bg-dark mx-auto shadow-custom " style="overflow:hidden; aspect-ratio: 0.7;">
								<div class=" w-100 h-50 p-0 d-flex align-items-center" style="overflow:hidden;">
									<img src="{{ project.iconref }}" style="width:100%;" alt="project not loading">
								</div>
								<div class='px-1'>
									<p class="m-0 accent-color text-center">
										<strong>{{ project.name }}</strong>
									</p>
									<p class=" m-0 d-none d-md-block">{{ project.description }}</p>
								</div>
								<a href="{{project.linkref ?? '#' }}" class="btn btn-main"></a>
							</div>
						</div>

					{% endfor %}

				{% endfor %}
			</div>
			<div class="row justify-content-center">
				<button type="button" class="col-auto custom-btn rounded-2 p-1 mt-4 mb-2 bg-accent text-white" onclick="window.location.href='{{ path('app_game_projects', {'type': type}) }}'" data-bs-dismiss="modal">&nbsp;&nbsp;All
					{{type}}...&nbsp;&nbsp;</button>
			</div>
		</div>
	</div>
</section>

<style>
	/* Add custom style for changing text on hover */
	.btn-main::before {
		content: "more info.";
	}

	.btn-main:hover::before {
		content: "Let's Go!";
	}
</style>
