<h4>Create Milestone</h4>

{{ form_start(mileStoneForm, {'attr': {'id': 'mileStoneForm'}}) }}

{{ form_row(mileStoneForm.name) }}
{{ form_row(mileStoneForm.description) }}
{{ form_row(mileStoneForm.startDate) }}
{{ form_row(mileStoneForm.endDate) }}
{{ form_row(mileStoneForm.tags) }}
{{ form_row(mileStoneForm.bullets) }}

<div class="d-flex justify-content-center my-2">
	<button class="btn btn-primary" type="button" onclick="submitForm('{{path('milestone_new')}}', 'mileStoneForm', '{{ asset('loadgif.gif') }}', {{mileStonecur.id}})">Create</button>
</div>
{{ form_end(mileStoneForm) }}

