<h4>Create Milestone</h4>

{{ form_start(mileStoneForm, {'attr': {'id': 'mileStoneForm'}}) }}

{{ form_row(mileStoneForm.organization) }}
{{ form_row(mileStoneForm.name) }}
{{ form_row(mileStoneForm.description) }}
{{ form_row(mileStoneForm.startDate) }}
{{ form_row(mileStoneForm.endDate) }}
{{ form_row(mileStoneForm.bulletpoints) }}

<div class="d-flex justify-content-center my-2">
	<button class="btn btn-primary" type="button" onclick="submitForm('{{ path('milestone_new', {'id': mileStonecur}) }}', 'MilestoneContainer', 'mileStoneForm', '{{ asset('loadgif.gif') }}')">Create</button>
</div>

{{ form_end(mileStoneForm) }}

