<h4>Create Project</h4>

{{ form_start(projectForm, {'attr': {'id': 'projectForm'}}) }}

{{ form_row(projectForm.name) }}
{{ form_row(projectForm.description) }}
{{ form_row(projectForm.fileref) }}
{{ form_row(projectForm.iconref) }}
{{ form_row(projectForm.linkref) }}
{{ form_row(projectForm.type) }}
{{ form_row(projectForm.mileStone) }}

<div class="d-flex justify-content-center my-2">
	<button class="btn btn-primary" type="button" onclick="submitForm('{{path('project_new')}}', 'projectForm', '{{ asset('loadgif.gif') }}', {{projectcur.id}})">Create</button>
</div>


{{ form_end(projectForm) }}

