{% extends 'base.html.twig' %}

{% block title %}Add New Milestone
{% endblock %}

{% block head %}{% endblock %}

{% block body %}

	<div class="w-100 row" style="height:100vh;">
		<div class="col-12 col-md-6">
			<h1>Milestone Load:</h1>

			<div class="dropdown-center my-4">
				<select id="milestoneDropdown" class="dropdown-center">
					<option value="">Select Milestone</option>
					{% for milestone in milestoneIds %}
						<option value="{{ milestone.id }}">{{ milestone.id }}-{{ milestone.name }}</option>
					{% endfor %}
				</select>
			</div>

			<button class="btn btn-success my-4" onclick="newMilestone()">+</button>

			<div id="MilestoneContainer"></div>
		</div>
		<div class="col-12 col-md-6">
			<h1>Project Load:</h1>

			<div class="dropdown-center my-4">
				<select id="ProjectDropdown" class="dropdown-center">
					<option value="">Select Project</option>
					{% for project in projectsIds %}
						<option value="{{ project.id }}">{{ project.id }}-{{ project.name }}</option>
					{% endfor %}
				</select>
			</div>

			<button class="btn btn-success my-4" onclick="newMilestone()">+</button>

			<div id="MilestoneContainer"></div>
		</div>
	</div>
</div>

<script src="{{ asset('js/formsFunctions.js') }}"></script>{% endblock %}
