<style>


	.container-games {
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #fff;
		height: 80vh;
	}

	.slider {
		width: 100% !important;
		height: 100% !important;
		transition: transform 900ms;
		position: relative;
		perspective: 1000px;
		max-height: 100%;
		max-width: 100%;
		will-change: transform;

		&:not(.zoom) {
			.item {
				transition: all 900ms ease-in-out, opacity 400ms linear 0;
				opacity: 0;

				&.active {
					width: 100% !important;
					height: 100% !important;
					line-height: 100%;
					position: relative;
					display: flex;
					opacity: 1;
					pointer-events: all;


					.custom-btn {
						transform: scale(3);
					}
				}

				&:not(.active) {
					display: none;
				}

				&.item1 {
					transform: rotateY(0deg) translateZ(0);
				}

				&.item2 {
					transform: rotateY(60deg) translateZ(0);
				}

				&.item3 {
					transform: rotateY(120deg) translateZ(0);
				}
				&.item4 {
					transform: rotateY(180deg) translateZ(0);
				}

				&.item5 {
					transform: rotateY(240deg) translateZ(0);
				}

				&.item6 {
					transform: rotateY(300deg) translateZ(0);
				}
			}
		}

		&.zoom {
			.item {
				transition: all 900ms ease-in-out, opacity 300ms linear 500ms;
				opacity: 0.5;
			}
			span {
				display: none;
			}
			.custom-btn {
				display: none;
			}
		}

	}

	.wrapper {
		height: 100%;
		width: 100%;
		position: absolute;
		transform-style: preserve-3d;
		transition: transform 900ms ease-in-out;
		display: flex;
		align-items: center;
		justify-content: center;
		will-change: transform;
	}

	.item {
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		width: 39%;
		height: 50%;
		line-height: 50%;
		color: #fff;
		background-repeat: no-repeat;
		background-size: cover !important;
		background-position: center;
		transition: all 900ms ease-in-out;
		transform-origin: center;
		pointer-events: none;
		will-change: transform;

		&.item1 {
			transform: rotateY(0deg) translateZ(1000px);

			&.active {
				transform: rotateY(0deg) translateZ(500px);
				opacity: 1;
			}
		}

		&.item2 {
			transform: rotateY(60deg) translateZ(1000px);

			&.active {
				transform: rotateY(60deg) translateZ(500px);
				opacity: 1;
			}
		}

		&.item3 {
			transform: rotateY(120deg) translateZ(1000px);

			&.active {
				transform: rotateY(120deg) translateZ(500px);
				opacity: 1;
			}
		}

		&.item4 {
			transform: rotateY(180deg) translateZ(1000px);

			&.active {
				transform: rotateY(180deg) translateZ(500px);
				opacity: 1;
			}
		}

		&.item5 {
			transform: rotateY(240deg) translateZ(1000px);

			&.active {
				transform: rotateY(240deg) translateZ(500px);
				opacity: 1;
			}
		}

		&.item6 {
			transform: rotateY(300deg) translateZ(1000px);

			&.active {
				transform: rotateY(300deg) translateZ(500px);
				opacity: 1;
			}
		}
	}

	.arrow {
		position: absolute;
		top: 50%;
		cursor: pointer;
		border-radius: 50%;
		width: 2rem;
		height: 2rem;
		transition: all 0.1s ease-in-out;
		will-change: transform;

		&.arrow-next {
			right: 1rem;
			background: url('https://alikinvv.github.io/3d-carousel/build/img/arrow-right.svg') no-repeat center #6f1b6f39;
			background-size: 2rem !important;

			&:hover {
				transform: scale(1.1);
				background: url('https://alikinvv.github.io/3d-carousel/build/img/arrow-right.svg') no-repeat center #6F1B6F;
			}
		}

		&.arrow-prev {
			left: 1rem;
			background: url('https://alikinvv.github.io/3d-carousel/build/img/arrow-left.svg') no-repeat center #6f1b6f39;
			background-size: 2rem !important;

			&:hover {
				transform: scale(1.1);
				background: url('https://alikinvv.github.io/3d-carousel/build/img/arrow-left.svg') no-repeat center #6F1B6F;
			}
		}
	}
</style>

<section id="Games" class="bg-main-dark rounded-top-4 m-0 w-100 row p-0 m-0 justify-content-evenly" style="min-height: 93vh;">

	<h3 class='text-center py-3 m-0'>Game Highlights</h3>

	<div class="container-games p-0 m-0 w-100">
		<div class="slider">
			<div class="wrapper">
				<div style="background-image: url('https://i.natgeofe.com/k/75ac774d-e6c7-44fa-b787-d0e20742f797/giant-panda-eating_4x3.jpg')" class="item item1 active">
					<div class="item__info">
						<p class="item__year">
							<span>1483 - 1484</span>
						</p>
						<p class="item__name">
							<span>BIRH OF VENUS</span>
						</p>
						<buton href="javascript:void(0)" class=" custom-btn rounded-2 p-1 m-2 accent-bg text-white">
							<span>Discover more</span>
						</buton>
					</div>
				</div>
				<div style="background-image: url('https://alikinvv.github.io/3d-carousel/build/img/slide1.jpg')" class="item item2">
					<div class="item__info">
						<p class="item__year">
							<span>1481 - 1484</span>
						</p>
						<p class="item__name">
							<span>BIRH OF VENUS</span>
						</p>
						<a href="javascript:void(0)" class="custom-btn rounded-2 p-1 m-2 accent-bg text-white">
							<span>Discover more</span>
						</a>
					</div>
				</div>
				<div style="background-image: url('https://alikinvv.github.io/3d-carousel/build/img/slide3.jpg')" class="item item3">
					<div class="item__info">
						<p class="item__year">
							<span>1500 - 1501</span>
						</p>
						<p class="item__name">
							<span>THE STORY OF VIRGINIA</span>
						</p>
						<a href="javascript:void(0)" class="custom-btn rounded-2 p-1 m-2 accent-bg text-white">
							<span>Discover more</span>
						</a>
					</div>
				</div>
				<div style="background-image: url('https://i.natgeofe.com/k/75ac774d-e6c7-44fa-b787-d0e20742f797/giant-panda-eating_4x3.jpg')" class="item item4">
					<div class="item__info">
						<p class="item__year">
							<span>1483 - 1484</span>
						</p>
						<p class="item__name">
							<span>BIRH OF VENUS</span>
						</p>
						<a href="javascript:void(0)" class="custom-btn rounded-2 p-1 m-2 accent-bg text-white">
							<span>Discover more</span>
						</a>
					</div>
				</div>
				<div style="background-image: url('https://alikinvv.github.io/3d-carousel/build/img/slide1.jpg')" class="item item5">
					<div class="item__info">
						<p class="item__year">
							<span>1481 - 1484</span>
						</p>
						<p class="item__name">
							<span>BIRH OF VENUS</span>
						</p>
						<a href="javascript:void(0)" class=" custom-btn rounded-2 p-1 m-2 accent-bg text-white">
							<span>Discover more</span>
						</a>
					</div>
				</div>
				<div style="background-image: url('https://alikinvv.github.io/3d-carousel/build/img/slide3.jpg')" class="item item6">
					<div class="item__info">
						<p class="item__year">
							<span>1500 - 1501</span>
						</p>
						<p class="item__name">
							<span>THE STORY OF VIRGINIA</span>
						</p>
						<a href="javascript:void(0)" class=" custom-btn rounded-2 p-1 m-2 accent-bg text-white">
							<span>Discover more</span>
						</a>
					</div>
				</div>
			</div>

			<div class="arrow arrow-next"></div>
			<div class="arrow arrow-prev"></div>
		</div>

	</div>
</section>


<script>
let slider = document.querySelector('.slider');
let wrapper = document.querySelector('.wrapper');
let next = document.querySelector('.arrow-next');
let prev = document.querySelector('.arrow-prev');
let item = document.querySelectorAll('.item');
let currdeg = 0;
let active = 0;

next.addEventListener('click', () => {
    slider.classList.toggle('zoom');

    currdeg = currdeg - 60;

    if (active === item.length - 1) {
        active = 0;
    } else {
        active++;
    } toggle();
});

prev.addEventListener('click', () => {
    slider.classList.toggle('zoom');

    currdeg = currdeg + 60;

    if (active === 0) {
        active = item.length - 1;
    } else {
        active--;
    } toggle();
});

let toggle = () => {
    setTimeout(() => {
        for (let i = 0; i < item.length; i++) {
            item[i].classList.remove('active');
        }

        item[active].classList.add('active')
        wrapper.style.transform = 'rotateY(' + currdeg + 'deg)';
    }, 900);

    setTimeout(() => {
        slider.classList.toggle('zoom');
    }, 1900);
}
</script>


{#<div class="d-flex flex-column justify-content-center align-items-center h-100" style="min-height: 60vh; width: 100%;">

		<div class="container-xxl rounded-4 bg-main-gradient-circle m-3 my-4 p-0 shadow-custom">

			<div id="carouselExampleIndicators" class="carousel slide px-md-3 px-1 pt-3">
				<div class="carousel-inner rounded-4 bg-dark mb-3 shadow-custom col-6 d-flex flex-column align-content-center" style="overflow: hidden; aspect-ratio:2.5;">
					{% for project in projects %}

						<div class="carousel-item d-flex flex-column align-content-center justify-content-center container-fluid p-0 m-0  {% if loop.index0 == 0 %} active{% endif %}" style="aspect-ratio:2;">
							<img src="{{ project.iconref }}" class="img-fluid" style="width:auto;" alt="{{ loop.index }}">
						</div>

					{% endfor %}
				</div>
				<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev" onclick="updateActiveIndicator(-1)">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next" onclick="updateActiveIndicator(1)">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>
			</div>

			<div class="px-md-5">
				<div class="px-md-5 mx-md-5">
					<div class="px-md-5 mx-md-5">
						<div class="d-flex justify-content-start px-0 py-1 m-0 rounded-4 bg-dark shadow" style="overflow-x: auto; overflow-y: hidden;">
							{% for project in projects %}

								<div class="col-3 rounded-4 px-1" style="aspect-ratio:1;">
									<button data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ loop.index0 }}" class="carousel-indicator btn btn-outline-main rounded-4 w-100 {% if loop.index0 == 0 %}active{% endif %}" style="aspect-ratio:1; overflow: hidden;">
										<div class="w-100 h-100 rounded-4 d-flex flex-column justify-content-center align-items-center" style="aspect-ratio:1; overflow: hidden;">
											<img src="{{ project.iconref }}" class="w-auto h-100 rounded-4" alt="{{ loop.index }}">
										</div>
									</button>
								</div>

							{% endfor %}
						</div>
					</div>
				</div>
			</div>

			<div class="row justify-content-center">
				<button type="button" class="col-auto custom-btn rounded-2 p-1 my-3 accent-bg text-white" onclick="window.location.href='{{ path('app_game_projects', {'type': type}) }}'" data-bs-dismiss="modal">&nbsp;&nbsp;All
					{{type}}...&nbsp;&nbsp;</button>
			</div>

		</div>
	</div>#}


<script>
	// Get all carousel indicators
var indicators = document.querySelectorAll('.carousel-indicator');
var curindex = 0;

function updateActiveIndicator(updatevalue) { // Calculate the new index
curindex += updatevalue;

// Loop if curindex is larger than or equal to the length of indicators
if (curindex >= indicators.length) {
curindex = 0;
} else if (curindex < 0) {
curindex = indicators.length - 1;
}

// Remove 'active' class from all indicators
indicators.forEach(function (indicator, index) {
indicator.classList.remove('active');
if (index === curindex) {
indicator.classList.add('active');
// Scroll to the selected indicator
indicator.scrollIntoView({behavior: 'smooth', block: 'nearest'});
}
});

// Activate the corresponding carousel item
var carousel = document.getElementById('carouselExampleIndicators');
var carouselInstance = new bootstrap.Carousel(carousel);
carouselInstance.to(curindex);
}

// Loop through each indicator and add click event listener
indicators.forEach(function (indicator, index) {
indicator.addEventListener('click', function () { // Remove 'active' class from all indicators
indicators.forEach(function (indicator) {
indicator.classList.remove('active');
});

// Add 'active' class to the clicked indicator
this.classList.add('active');

// Update the current index
curindex = index;

// Activate the corresponding carousel item
var carousel = document.getElementById('carouselExampleIndicators');
var carouselInstance = new bootstrap.Carousel(carousel);
carouselInstance.to(index);
});
});
</script>

{#
	
	<script>
		// Get all carousel indicators
	var indicators = document.querySelectorAll('.carousel-indicator');
	var curindex = 0;
	
	function updateActiveIndicator(updatevalue) { // Calculate the new index
	curindex += updatevalue;
	
	// Loop if curindex is larger than or equal to the length of indicators
	if (curindex >= indicators.length) {
	curindex = 0;
	}
	// Loop if curindex is less than 0 else if (curindex < 0) {
	curindex = indicators.length - 1;
	}
	
	indicators = document.querySelectorAll('.carousel-indicator');
	
	// Remove 'active' class from all indicators
	indicators.forEach(function (indicator, index) {
	indicator.classList.remove('active');
	if (index === curindex) {
	indicator.classList.add('active');
	// Scroll to the selected indicator
	indicator.scrollIntoView({behavior: 'smooth', block: 'nearest'});
	}
	});
	
	
	document.addEventListener("DOMContentLoaded", function () { // Loop through each indicator and add click event listener
	indicators.forEach(function (indicator, index) {
	indicator.addEventListener('click', function () { // Remove 'active' class from all indicators
	indicators.forEach(function (indicator) {
	indicator.classList.remove('active');
	});
	
	// Add 'active' class to the clicked indicator
	this.classList.add('active');
	
	// Activate the corresponding carousel item
	var carousel = document.getElementById('carouselExampleIndicators');
	var carouselInstance = bootstrap.Carousel.getInstance(carousel);
	carouselInstance.to(index);
	
	curindex = index;
	});
	});
	
	});
	</script>
	
	#}
<