<!-- Collapsible Navbar -->
<div class=" position-fixed fixed-top row p-0 m-0 justify-content-center" style="width:100%; z-index: 1040;">
	{% for label, messages in app.flashes %}
		{% for message in messages %}
			<div class="alert alert-{{ label }} d-flex justify-content-center m-0">
				{{ message }}
			</div>
		{% endfor %}
	{% endfor %}
	<div class="collapse navbar-collapse collapse d-flex position-relative justify-content-center p-0 w-100" id="navbarCollapse">
		<nav class=" navbar navbar-dark navbar-expand-lg sin-down-div row justify-content-center" style="scale:100%; ">
			<button class=" col-auto navbar-toggler bg-dark rounded-pill p-2 border-1 border-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				<img style="height: 7vh; width: auto;" src="{{ asset('foundtexaspanda.svg') }}" alt="foundtexaspanda"/>
			</button>
			<div class="align-items-center row p-0 m-0 w-100">
				<a class="bg-dark rounded-circle col-12 col-lg-auto p-1 m-0 d-none d-lg-block position-absolute top-0 start-0" href="/" style="height: 7rem; aspect-ratio:1; z-index: 1040;">
					<img style="height: 100%; width: auto;" src="{{ asset('foundtexaspanda.svg') }}" alt="foundtexaspanda"/>
				</a>
				<div class="col-12 col-lg">
					<div id="navbarNavAltMarkup" class="collapse navbar-collapse row py-5 py-md-2 justify-content-evenly">
						<a class="col-12 col-lg-auto my-2 text-center" href="/timeline">TIMELINE</a>
						<a class="col-12 col-lg-auto my-2 text-center" aria-current="page" href="{{ path('app_game_projects', { type: 'game' }) }}">GAMES</a>
						<a class="col-12 col-lg-auto my-2 text-center" href="{{ path('app_game_projects', { type: 'web' }) }}">WEB APPS</a>
					</div>
				</div>
			</div>
		</nav>
	</div>
</div>


<button class="custom-btn position-fixed rounded-4 bg-accent d-flex align-items-center" style="z-index: 1050; top: 1rem; right: 1rem;" onclick="playSound('audiopress')" data-bs-target="#pauseMenuModal" aria-label="Pause menu button" data-bs-toggle="modal" type="button">
	<i class="fa fa-home my-2 mx-1 fa-2xl" aria-hidden="true" style="color: #ffffff;"></i>
	<p class="p-0 m-0 d-none d-md-block">PAUSE</p>
</button>

<!-- Modal -->
<div class="modal fade" id="pauseMenuModal" tabindex="-1" aria-label="Pause menu modal" aria-labelledby="pauseMenuModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg">
		<div class="modal-content bg-accent-dark">
			<div class="modal-header">
				<h2 class="modal-title text-center" id="pauseMenuModalLabel">Pause Menu</h2>
				<button type="button" class="btn-close" onclick="playSound('audioback')" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div
				class="modal-body bg-main" style="min-height: 50vh; ">

				<!-- Volume Slider -->
				<div class="row p-0 m-0 bg-main-darg justify-content-evenly">
					<h4 for="volumeRange" class="form-label col-auto">Volume:
						<span class="col-auto" id="volumeValue">25%</span>
					</h4>
					<input class="cool-range col-12 p-0 m-0" type="range" oninput="setVolume(this.value, 'audio-sfx-group')" id="volumeRange" min="0" max="1" step="0.01" value="0.25">
				</div>

				<!-- Navigation Buttons -->
				<div class="row p-0 m-0 bg-main justify-content-evenly my-2">
					<h4 class="col-12 text-center p-0 m-0">Options:</h4>
					{% for button in buttons %}
						<div class="col-6 col-md-3 m-0 d-flex align-content-center">
							<button type="button" class="w-100 custom-btn rounded-2 p-1 mt-4 mb-2 bg-accent text-white" onclick="navigateToSectionAndCloseModal('{{ button.id }}')" data-bs-dismiss="modal">{{ button.label }}</button>
						</div>
					{% endfor %}
				</div>

				<!-- Classic Navbar Toggle -->
				<div class="row p-0 m-0 bg-main align-items-center">
					<h4 class="col">Classic Navbar:</h4>
					<div class="row p-0 m-0 col align-items-center">
						<button type="button" class="col-auto btn btn-success" id="collapseOnButton">ON</button>
						<button type="button" class="col-auto btn btn-danger" id="collapseOffButton">Off</button>
					</div>
				</div>


			</div>
			<div class="modal-footer text-center dark-bg-main text-white">
				{% if app.user %}
					<p>You are logged in as
						{{ app.user.userIdentifier }}</p>
					<a href="{{ path('app_logout') }}" class="btn btn-danger">Logout</a>

					{% if is_granted('ROLE_SUPER_ADMIN') %}
						<a href="{{ path('event_load') }}" class="btn btn-info">Add event</a>
					{% endif %}
				{% else %}
					<a href="{{ path('app_login') }}">log in</a>
					or
					<a href="{{ path('app_register') }}">
						Sign up</a>
				{% endif %}
			</div>
		</div>
	</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/3.0.1/js.cookie.min.js"></script>

<script>
	document.addEventListener('DOMContentLoaded', function () {
var navbarToggler = document.querySelector('.navbar-toggler');
var mainNav = document.querySelector('.navbar');
var navbarCollapse = document.getElementById('navbarNavAltMarkup');

navbarCollapse.addEventListener('show.bs.collapse', function () {
mainNav.classList.add('expanded');
});

navbarCollapse.addEventListener('hide.bs.collapse', function () {
mainNav.classList.remove('expanded');
});
});
</script>

<script>
	// Function to navigate to section and close the modal
function navigateToSectionAndCloseModal(sectionId) { // Check if the section exists
if (sectionId != '') {
var section = document.querySelector(sectionId);
}

if (section) { // Scroll to the section
section.scrollIntoView({behavior: 'smooth'});
} else { // If section is not found, change window href to sectionId
window.location.href = '/' + sectionId;
}

// Close the modal
$('#pauseMenuModal').modal('hide');
}

// Function to set the collapse state on a cookie
function setNavbarCollapseState(state) {
Cookies.set('navbarCollapseState', state);
}

// Function to get the collapse state from the cookie
function getNavbarCollapseState() {
const value = Cookies.get('navbarCollapseState', 'on');
console.log("init", value);
return value;
}

// JavaScript to toggle the collapse state
var collapseOnButton = document.getElementById("collapseOnButton");
var collapseOffButton = document.getElementById("collapseOffButton");

collapseOnButton.addEventListener("click", function () {
document.querySelector(".navbar-collapse").classList.remove("d-none");
collapseOnButton.disabled = true;
collapseOffButton.disabled = false;
Cookies.set('navbarCollapseState', 'on');

});

collapseOffButton.addEventListener("click", function () {
document.querySelector(".navbar-collapse").classList.add("d-none");
collapseOnButton.disabled = false;
collapseOffButton.disabled = true;
setNavbarCollapseState('off');
});

// Initially, start with "On" enabled and "Off" disabled
var savedState = getNavbarCollapseState();
if (savedState === 'on') {
document.querySelector(".navbar-collapse").classList.remove("d-none");
collapseOnButton.disabled = true;
collapseOffButton.disabled = false;
} else if (savedState === 'off') {
document.querySelector(".navbar-collapse").classList.add("d-none");
collapseOnButton.disabled = false;
collapseOffButton.disabled = true;
}
</script>
