<section id="projects" class="main-bg-dark px-2" style="min-height: 100vh;">

	{% include 'index/IndexHeader.twig' with {'textRef': textRef, 'headText': headText, 'darkbg': true} %}

	<div class="d-flex flex-column justify-content-center align-items-center" style="min-height: 75vh; width: 100%;">


		<div class="container rounded-5 {{ color ?? 'main-bg-gradient' }}  m-3 my-md-4 shadow-custom">
			<div class="row justify-content-center m-2">

				{% for project in projects %}

					<div class="col-6 col-md-3 col-lg-2 my-2 {{ loop.index > 8 ? (loop.index > 12 ? 'd-none d-lg-block' : 'd-none d-md-block') : '' }} ">
						<div class="rounded-4 d-flex justify-content-center bg-dark mx-auto shadow-custom" onclick="window.location.href='{{ path('app_project_detail', {'id': project.id}) }}'" style="overflow: hidden; aspect-ratio: 1; cursor: pointer;">
							<img src="{{ project.iconref }}" style="height: 100%; width: auto;" alt="Gallery Image 1">
						</div>
					</div>

				{% endfor %}
			</div>
			<div class="row justify-content-center">
				<button type="button" class="col-auto custom-btn rounded-2 p-1 m-2 accent-bg text-white" onclick="window.location.href='{{ path('app_game_projects', {'type': type}) }}'" data-bs-dismiss="modal">&nbsp;&nbsp;All
					{{type}}...&nbsp;&nbsp;</button>
			</div>
		</div>
	</div>
</section>
